In [ ]:
#acquiring the data
!wget -O moviedataset.zip https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
print('unziping ...')
!unzip -o -j moviedataset.zip

In [2]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
movies_df = pd.read_csv('movies.csv')
ratings_df = pd.read_csv('ratings.csv')

In [4]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

Let's remove the year from the __title__ column by using pandas' replace function and store in a new __year__ column.

In [5]:
#Using regular expressions to find a year stored between parentheses
#We specify the parantheses so we don't conflict with movies that have years in their titles
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

In [6]:
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [7]:
movies_df = movies_df.drop('genres', 1)

In [8]:
movies_df.head()

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

In [9]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

## Colaborative Filtering

This technique is also known as user user filtering. This technique uses other users to recommend items to the input user.It attempts to find users that have similar preferences and opinions as the input and then recommends items that they have liked to the input. There are several methods of finding similar users (Even some making use of Machine Learning), and the one we will be using here is going to be based on the __Pearson Correlation Function__.

The process for creating a User Based recommendation system is as follows:
- Select a user with the movies the user has watched
- Based on his rating to movies, find the top X neighbours 
- Get the watched movie record of the user for each neighbour.
- Calculate a similarity score using some formula
- Recommend the items with the highest score


Let's begin by creating an input user to recommend movies to:

Notice: To add more movies, simply increase the amount of elements in the userInput. Feel free to add more in! Just be sure to write it in with capital letters and if a movie starts with a "The", like "The Matrix" then write it in like this: 'Matrix, The' .

In [10]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

In [11]:
#add movies to the input user
#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)
#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('year', 1)
#Final input dataframe
#If a movie you added in above isn't here, then it might not be in the original 
#dataframe or it might spelled differently, please check capitalisation.
inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

In [12]:
#Filtering out users that have watched movies that the input has watched and storing it
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()

     userId  movieId  rating   timestamp
19        4      296     4.0  1037741922
441      12     1968     3.0   953778911
479      13        2     2.0   974867742
531      13     1274     5.0   974870639
681      14      296     2.0   845469280

In [13]:
#Groupby creates several sub dataframes where they all have the same value in the column specified as the parameter
userSubsetGroup = userSubset.groupby(['userId'])

In [14]:
userSubsetGroup.get_group(1130)

        userId  movieId  rating   timestamp
104167    1130        1     0.5  1246793380
104168    1130        2     4.0  1293623928
104214    1130      296     4.0  1246788859
104363    1130     1274     4.5  1292762481
104443    1130     1968     4.5  1396902829

In [15]:
#Sorting it so users with movie most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

In [16]:
userSubsetGroup[0:3]

[(75,
        userId  movieId  rating   timestamp
  7507      75        1     5.0  1121052525
  7508      75        2     3.5  1121135463
  7540      75      296     5.0  1121050213
  7633      75     1274     4.5  1121054237
  7673      75     1968     5.0  1121052396),
 (106,
        userId  movieId  rating   timestamp
  9083     106        1     2.5  1295946064
  9084     106        2     3.0  1295946441
  9115     106      296     3.5  1295946027
  9198     106     1274     3.0  1295942600
  9238     106     1968     3.5  1295946488),
 (686,
         userId  movieId  rating  timestamp
  61336     686        1     4.0  911989600
  61337     686        2     3.0  911989153
  61377     686      296     4.0  915532775
  61478     686     1274     4.0  911988978
  61569     686     1968     5.0  911989677)]

In [18]:
userSubsetGroup = userSubsetGroup[0:100]
userSubsetGroup

[(75,
        userId  movieId  rating   timestamp
  7507      75        1     5.0  1121052525
  7508      75        2     3.5  1121135463
  7540      75      296     5.0  1121050213
  7633      75     1274     4.5  1121054237
  7673      75     1968     5.0  1121052396),
 (106,
        userId  movieId  rating   timestamp
  9083     106        1     2.5  1295946064
  9084     106        2     3.0  1295946441
  9115     106      296     3.5  1295946027
  9198     106     1274     3.0  1295942600
  9238     106     1968     3.5  1295946488),
 (686,
         userId  movieId  rating  timestamp
  61336     686        1     4.0  911989600
  61337     686        2     3.0  911989153
  61377     686      296     4.0  915532775
  61478     686     1274     4.0  911988978
  61569     686     1968     5.0  911989677),
 (815,
         userId  movieId  rating   timestamp
  73747     815        1     4.5  1136800269
  73748     815        2     3.0  1136803769
  73922     815      296     5.0  1136800231
  74362     815     1274     3.0  1136804207
  74678     815     1968     4.5  1136807356),
 (1040,
         userId  movieId  rating   timestamp
  96689    1040        1     3.0  1309321099
  96690    1040        2     1.5  1309572875
  96733    1040      296     3.5  1313197817
  96859    1040     1274     3.0  1376184105
  96922    1040     1968     4.0  1310608260),
 (1130,
          userId  movieId  rating   timestamp
  104167    1130        1     0.5  1246793380
  104168    1130        2     4.0  1293623928
  104214    1130      296     4.0  1246788859
  104363    1130     1274     4.5  1292762481
  104443    1130     1968     4.5  1396902829),
 (1502,
          userId  movieId  rating   timestamp
  133876    1502        1     4.0  1449256173
  133877    1502        2     3.5  1449257102
  133917    1502      296     5.0  1448801530
  134058    1502     1274     4.0  1449257558
  134133    1502     1968     5.0  1449257233),
 (1599,
          userId  movieId  rating  timestamp
  142722    1599        1     4.0  939995334
  142723    1599        2     4.0  940246068
  142810    1599      296     5.0  939983453
  143068    1599     1274     4.0  939980024
  143220    1599     1968     4.0  940273178),
 (1625,
          userId  movieId  rating   timestamp
  146811    1625        1     4.0  1359323381
  146812    1625        2     3.5  1359413891
  146867    1625      296     5.0  1359323344
  147011    1625     1274     4.0  1359317079
  147107    1625     1968     4.0  1359337907),
 (1950,
          userId  movieId  rating  timestamp
  176143    1950        1     5.0  974679130
  176144    1950        2     4.0  974681777
  176186    1950      296     5.0  974669340
  176349    1950     1274     4.0  974679505
  176444    1950     1968     4.0  983488815),
 (2065,
          userId  movieId  rating   timestamp
  185283    2065        1     3.0  1000701582
  185284    2065        2     3.0  1000781257
  185340    2065      296     4.0  1000702928
  185472    2065     1274     3.0  1000785584
  185575    2065     1968     3.0  1000852230),
 (2128,
          userId  movieId  rating   timestamp
  191789    2128        1     3.0  1131768664
  191790    2128        2     4.0  1131770606
  191830    2128      296     4.5  1131767393
  191932    2128     1274     5.0  1131767718
  191979    2128     1968     5.0  1131767316),
 (2432,
          userId  movieId  rating   timestamp
  221536    2432        1     3.0  1037826148
  221537    2432        2     3.0  1037827385
  221593    2432      296     4.0  1037029622
  221842    2432     1274     2.0  1037824228
  222002    2432     1968     3.0  1037824228),
 (2791,
          userId  movieId  rating   timestamp
  254324    2791        1     4.5  1372738057
  254325    2791        2     3.0  1372757192
  254344    2791      296     4.5  1372737397
  254446    2791     1274     4.5  1372787295
  254493    2791     1968     4.5  1372743056),
 (2839,
          userId  movieId  rating   timestamp
  259233    2839        1     4.0   985757339
  259234    2839        2     3.0  1081329591
  259292    2839      296     5.0   985847708
  259427    2839     1274     5.0   996818733
  259523    2839     1968     4.0   992322479),
 (2948,
          userId  movieId  rating  timestamp
  269447    2948        1     4.0  919422938
  269448    2948        2     3.0  977286703
  269502    2948      296     4.0  982002369
  269603    2948     1274     3.0  982002225
  269675    2948     1968     2.0  989273213),
 (3025,
          userId  movieId  rating   timestamp
  278199    3025        1     3.0  1153303082
  278200    3025        2     3.5  1169457013
  278255    3025      296     4.5  1153336282
  278410    3025     1274     3.0  1153337208
  278499    3025     1968     4.0  1153336795),
 (3040,
          userId  movieId  rating   timestamp
  280209    3040        1     4.0  1036810500
  280210    3040        2     4.0  1037846969
  280221    3040      296     5.0  1036770405
  280282    3040     1274     5.0  1038820656
  280313    3040     1968     5.0  1039077316),
 (3186,
          userId  movieId  rating   timestamp
  293305    3186        1     2.5  1217720054
  293306    3186        2     2.0  1036969179
  293361    3186      296     4.5  1217463783
  293562    3186     1274     2.0  1037026625
  293680    3186     1968     3.5  1257640216),
 (3271,
          userId  movieId  rating   timestamp
  299824    3271        1     3.5  1108498340
  299825    3271        2     3.0  1108498616
  299876    3271      296     4.5  1108495287
  300015    3271     1274     2.0  1108497719
  300084    3271     1968     3.5  1108498656),
 (3429,
          userId  movieId  rating   timestamp
  316845    3429        1     4.0  1002646086
  316846    3429        2     3.0  1002645276
  316876    3429      296     3.0  1002646905
  316948    3429     1274     4.0  1002646110
  317009    3429     1968     3.0  1002644997),
 (3734,
          userId  movieId  rating  timestamp
  340015    3734        1     5.0  975608685
  340016    3734        2     4.0  989241476
  340087    3734      296     2.0  978702345
  340315    3734     1274     5.0  978703103
  340465    3734     1968     5.0  987445555),
 (4099,
          userId  movieId  rating   timestamp
  375223    4099        1     5.0  1058207746
  375224    4099        2     3.0  1058207751
  375288    4099      296     3.0   992555361
  375504    4099     1274     3.5  1068682411
  375651    4099     1968     4.0  1050436920),
 (4208,
          userId  movieId  rating   timestamp
  387004    4208        1     4.0  1017601866
  387005    4208        2     2.0  1076833225
  387119    4208      296     2.0  1017601570
  387377    4208     1274     3.0  1052950791
  387575    4208     1968     4.0  1041307733),
 (4282,
          userId  movieId  rating   timestamp
  397984    4282        1     4.0  1083018728
  397985    4282        2     4.0  1089310253
  398040    4282      296     4.0  1083018690
  398210    4282     1274     4.0  1098564614
  398336    4282     1968     3.5  1097018167),
 (4292,
          userId  movieId  rating   timestamp
  400307    4292        1     3.5  1130472659
  400308    4292        2     3.0  1130471516
  400349    4292      296     4.5  1130494541
  400503    4292     1274     5.0  1130495070
  400587    4292     1968     3.5  1145359530),
 (4415,
          userId  movieId  rating   timestamp
  408738    4415        1     4.5  1268551466
  408739    4415        2     3.5  1268552031
  408844    4415      296     5.0  1268551127
  409135    4415     1274     0.5  1268853776
  409343    4415     1968     3.0  1268552061),
 (4586,
          userId  movieId  rating   timestamp
  426228    4586        1     4.5  1421168752
  426229    4586        2     5.0  1118274096
  426259    4586      296     3.5  1163973682
  426396    4586     1274     3.5  1420400719
  426466    4586     1968     4.0  1279202631),
 (4725,
          userId  movieId  rating  timestamp
  439244    4725        1     5.0  939801066
  439245    4725        2     4.0  939377289
  439263    4725      296     4.0  939142239
  439313    4725     1274     2.0  939801324
  439349    4725     1968     5.0  939376805),
 (4818,
          userId  movieId  rating   timestamp
  449041    4818        1     4.0  1233489084
  449042    4818        2     2.0  1193873112
  449108    4818      296     5.0  1192200955
  449267    4818     1274     3.0  1245005026
  449371    4818     1968     2.5  1267212368),
 (5104,
          userId  movieId  rating   timestamp
  475288    5104        1     2.0   975220910
  475289    5104        2     0.5  1056963953
  475393    5104      296     5.0   975027127
  475670    5104     1274     4.0   975228978
  475873    5104     1968     2.0  1013427825),
 (5165,
          userId  movieId  rating   timestamp
  483940    5165        1     4.0  1091334260
  483941    5165        2     4.0  1091392082
  483966    5165      296     3.5  1091334882
  484072    5165     1274     3.0  1091335551
  484124    5165     1968     4.0  1091392098),
 (5547,
          userId  movieId  rating   timestamp
  513560    5547        1     4.0  1122485671
  513561    5547        2     3.5  1122582873
  513603    5547      296     4.5  1273776901
  513707    5547     1274     4.0  1159913815
  513767    5547     1968     3.0  1151097660),
 (6082,
          userId  movieId  rating   timestamp
  561189    6082        1     3.5  1330120713
  561190    6082        2     3.0  1244602410
  561224    6082      296     4.0  1244599578
  561338    6082     1274     4.0  1244599018
  561406    6082     1968     1.5  1244602437),
 (6207,
          userId  movieId  rating   timestamp
  575407    6207        1     3.5  1230019553
  575408    6207        2     2.0  1231475605
  575436    6207      296     5.0  1230019011
  575523    6207     1274     5.0  1231474568
  575565    6207     1968     4.5  1230019885),
 (6366,
          userId  movieId  rating   timestamp
  594942    6366        1     2.0  1155221920
  594943    6366        2     2.5  1162927366
  594996    6366      296     4.0  1155222875
  595144    6366     1274     4.0  1155221951
  595217    6366     1968     3.0  1162926647),
 (6482,
          userId  movieId  rating  timestamp
  605173    6482        1     5.0  979057231
  605174    6482        2     3.0  979072185
  605264    6482      296     3.0  979054532
  605493    6482     1274     1.0  998340434
  605691    6482     1968     5.0  979057251),
 (6530,
          userId  movieId  rating   timestamp
  611461    6530        1     3.5  1422067453
  611462    6530        2     4.0  1419909987
  611614    6530      296     4.0  1419903495
  611969    6530     1274     3.0  1422256164
  612202    6530     1968     3.5  1423674842),
 (7235,
          userId  movieId  rating   timestamp
  668396    7235        1     2.5  1263409033
  668397    7235        2     1.0  1263414240
  668428    7235      296     5.0  1263407435
  668523    7235     1274     2.0  1263407705
  668575    7235     1968     2.5  1263413439),
 (7403,
          userId  movieId  rating   timestamp
  682305    7403        1     4.0  1179853813
  682306    7403        2     4.0  1193066751
  682369    7403      296     4.5  1179853299
  682518    7403     1274     4.5  1193065229
  682597    7403     1968     3.5  1179854233),
 (7641,
          userId  movieId  rating   timestamp
  705768    7641        1     3.0  1016830518
  705769    7641        2     2.0  1016829551
  705806    7641      296     3.0  1016815023
  705903    7641     1274     3.0  1016830130
  705982    7641     1968     5.0  1016830734),
 (7996,
          userId  movieId  rating   timestamp
  738175    7996        1     5.0  1036638180
  738176    7996        2     2.0  1036674984
  738228    7996      296     4.0  1036642672
  738390    7996     1274     4.0  1036675692
  738489    7996     1968     4.0  1044889560),
 (8008,
          userId  movieId  rating   timestamp
  739532    8008        1     5.0  1089314765
  739533    8008        2     4.5  1089314437
  739557    8008      296     5.0  1089704341
  739659    8008     1274     3.5  1112426027
  739696    8008     1968     4.0  1089316989),
 (8086,
          userId  movieId  rating   timestamp
  745813    8086        1     3.0  1280478691
  745814    8086        2     2.0  1049402327
  745843    8086      296     3.0  1049589265
  745928    8086     1274     4.0  1049409089
  745988    8086     1968     3.0  1058744207),
 (8245,
          userId  movieId  rating  timestamp
  760027    8245        1     3.0  966908940
  760028    8245        2     3.0  966919388
  760060    8245      296     4.0  966908512
  760159    8245     1274     1.0  966918215
  760229    8245     1968     3.0  977981508),
 (8572,
          userId  movieId  rating   timestamp
  791721    8572        1     4.0  1085878633
  791722    8572        2     3.5  1085956343
  791760    8572      296     5.0  1085877332
  791861    8572     1274     4.0  1106430144
  791939    8572     1968     4.5  1085955768),
 (8675,
          userId  movieId  rating   timestamp
  801136    8675        1     3.5  1063534536
  801137    8675        2     3.5  1063533702
  801201    8675      296     4.0  1063534385
  801373    8675     1274     4.0  1063530257
  801480    8675     1968     3.5  1063533889),
 (9101,
          userId  movieId  rating   timestamp
  842365    9101        1     4.0  1356833614
  842366    9101        2     3.0  1452576764
  842420    9101      296     3.5  1453916170
  842540    9101     1274     3.5  1399758258
  842634    9101     1968     2.5  1403763895),
 (9358,
          userId  movieId  rating   timestamp
  863664    9358        1     4.0  1075162956
  863665    9358        2     2.0  1075233980
  863710    9358      296     5.0  1075167041
  863877    9358     1274     4.5  1075232218
  863974    9358     1968     3.0  1075233511),
 (9663,
          userId  movieId  rating   timestamp
  886074    9663        1     4.0  1222951197
  886075    9663        2     3.5  1226081527
  886157    9663      296     5.0  1222951140
  886372    9663     1274     3.5  1222948993
  886512    9663     1968     3.0  1223941512),
 (9994,
          userId  movieId  rating   timestamp
  923978    9994        1     5.0  1255608683
  923979    9994        2     3.0  1255602203
  924026    9994      296     5.0  1255601650
  924194    9994     1274     5.0  1255605308
  924283    9994     1968     3.5  1255602264),
 (10248,
          userId  movieId  rating   timestamp
  948970   10248        1     4.0  1184575839
  948971   10248        2     3.0  1184632718
  949003   10248      296     2.5  1184574740
  949106   10248     1274     2.0  1184635966
  949166   10248     1968     3.5  1184614814),
 (10315,
          userId  movieId  rating   timestamp
  955563   10315        1     4.0  1006845944
  955564   10315        2     3.0  1041290999
  955634   10315      296     4.0  1006845629
  955882   10315     1274     3.0  1139775581
  956023   10315     1968     4.0  1006847750),
 (10368,
          userId  movieId  rating   timestamp
  960673   10368        1     4.0  1053718262
  960674   10368        2     3.0  1053712128
  960724   10368      296     3.5  1053718751
  960943   10368     1274     4.0  1053718273
  961087   10368     1968     3.5  1053718908),
 (10607,
          userId  movieId  rating   timestamp
  984869   10607        1     3.0  1000527618
  984870   10607        2     4.0   993777103
  984897   10607      296     5.0  1006567984
  984988   10607     1274     4.0  1025898944
  985053   10607     1968     4.0   974650138),
 (10707,
          userId  movieId  rating   timestamp
  993876   10707        1     3.0  1220289766
  993877   10707        2     1.5  1215954528
  993922   10707      296     4.5  1215941454
  994091   10707     1274     4.5  1215942372
  994173   10707     1968     4.0  1215954554),
 (10863,
           userId  movieId  rating   timestamp
  1007945   10863        1     4.5  1294234869
  1007946   10863        2     3.5  1294416809
  1007993   10863      296     5.0  1294233810
  1008157   10863     1274     4.0  1294242870
  1008225   10863     1968     4.0  1294413186),
 (11314,
           userId  movieId  rating   timestamp
  1047586   11314        1     4.0  1157668616
  1047587   11314        2     4.0  1167800786
  1047612   11314      296     5.0  1157668324
  1047687   11314     1274     4.5  1157857158
  1047722   11314     1968     4.5  1157668877),
 (11399,
           userId  movieId  rating   timestamp
  1057671   11399        1     4.0  1383389325
  1057672   11399        2     3.5  1087092471
  1057707   11399      296     5.0  1040540900
  1057817   11399     1274     5.0  1040542203
  1057872   11399     1968     3.5  1384074831),
 (11769,
           userId  movieId  rating   timestamp
  1096707   11769        1     3.5  1086047845
  1096708   11769        2     2.5  1086048293
  1096785   11769      296     4.5  1086047772
  1097000   11769     1274     3.5  1088392768
  1097125   11769     1968     4.5  1053129151),
 (11827,
           userId  movieId  rating  timestamp
  1103636   11827        1     3.0  945010163
  1103637   11827        2     2.0  944930280
  1103718   11827      296     4.0  944929740
  1103975   11827     1274     4.0  944931645
  1104142   11827     1968     2.0  944936266),
 (12069,
           userId  movieId  rating   timestamp
  1125615   12069        1     4.0  1322208878
  1125616   12069        2     3.0  1321767449
  1125663   12069      296     3.0  1321767383
  1125795   12069     1274     4.0  1321770133
  1125877   12069     1968     3.0  1321767090),
 (12120,
           userId  movieId  rating   timestamp
  1131811   12120        1     1.5  1183438667
  1131812   12120        2     1.0  1183438958
  1131869   12120      296     4.5  1241297055
  1132025   12120     1274     3.0  1183529905
  1132127   12120     1968     4.5  1183438969),
 (12211,
           userId  movieId  rating   timestamp
  1140602   12211        1     2.5  1081208608
  1140603   12211        2     2.0  1081964098
  1140647   12211      296     3.0  1081219312
  1140790   12211     1274     3.5  1081219926
  1140862   12211     1968     3.0  1217259164),
 (12325,
           userId  movieId  rating   timestamp
  1150448   12325        1     3.5  1161524167
  1150449   12325        2     1.5  1161526718
  1150504   12325      296     4.0  1161524496
  1150677   12325     1274     4.0  1161528676
  1150754   12325     1968     4.5  1161524633),
 (12916,
           userId  movieId  rating   timestamp
  1208383   12916        1     5.0  1007873207
  1208384   12916        2     3.0  1007882953
  1208415   12916      296     5.0  1007871081
  1208561   12916     1274     4.0  1007883534
  1208626   12916     1968     4.0  1007909656),
 (12921,
           userId  movieId  rating   timestamp
  1209144   12921        1     4.0  1164827428
  1209145   12921        2     3.0  1054316230
  1209219   12921      296     5.0  1134591354
  1209410   12921     1274     4.0  1137523126
  1209551   12921     1968     3.5  1247903273),
 (13053,
           userId  movieId  rating   timestamp
  1224899   13053        1     4.0  1236292409
  1224900   13053        2     3.0  1236419674
  1224979   13053      296     4.5  1236292241
  1225210   13053     1274     4.0  1236473025
  1225350   13053     1968     4.5  1236463591),
 (13142,
           userId  movieId  rating   timestamp
  1233446   13142        1     4.5  1200237493
  1233447   13142        2     3.0  1200239049
  1233488   13142      296     4.5  1263283160
  1233586   13142     1274     3.5  1263288232
  1233653   13142     1968     4.0  1200237849),
 (13260,
           userId  movieId  rating   timestamp
  1245032   13260        1     3.0  1215687417
  1245033   13260        2     3.0  1215687733
  1245059   13260      296     4.0  1215687360
  1245133   13260     1274     4.0  1215688347

In [19]:
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['rating'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [20]:
pearsonCorrelationDict.items()

dict_items([(75, 0.8272781516947562), (106, 0.5860090386731182), (686, 0.8320502943378437), (815, 0.5765566601970551), (1040, 0.9434563530497265), (1130, 0.2891574659831201), (1502, 0.8770580193070299), (1599, 0.4385290096535153), (1625, 0.716114874039432), (1950, 0.179028718509858), (2065, 0.4385290096535153), (2128, 0.5860090386731196), (2432, 0.1386750490563073), (2791, 0.8770580193070299), (2839, 0.8204126541423674), (2948, -0.11720180773462392), (3025, 0.45124262819713973), (3040, 0.89514359254929), (3186, 0.6784622064861935), (3271, 0.26989594817970664), (3429, 0.0), (3734, -0.15041420939904673), (4099, 0.05860090386731196), (4208, 0.29417420270727607), (4282, -0.4385290096535115), (4292, 0.6564386345361464), (4415, -0.11183835382312353), (4586, -0.9024852563942795), (4725, -0.08006407690254357), (4818, 0.4885967564883424), (5104, 0.7674257668936507), (5165, -0.4385290096535153), (5547, 0.17200522903844556), (6082, -0.04728779924109591), (6207, 0.9615384615384616), (6366, 0.6577935144802716), (6482, 0.0), (6530, -0.3516054232038709), (7235, 0.6981407669689391), (7403, 0.11720180773462363), (7641, 0.7161148740394331), (7996, 0.626600514784504), (8008, -0.22562131409856986), (8086, 0.6933752452815365), (8245, 0.0), (8572, 0.8600261451922278), (8675, 0.5370861555295773), (9101, -0.08600261451922278), (9358, 0.692178738358485), (9663, 0.193972725041952), (9994, 0.5030272728659587), (10248, -0.24806946917841693), (10315, 0.537086155529574), (10368, 0.4688072309384945), (10607, 0.41602514716892186), (10707, 0.9615384615384616), (10863, 0.6020183016345595), (11314, 0.8204126541423654), (11399, 0.517260600111872), (11769, 0.9376144618769914), (11827, 0.4902903378454601), (12069, 0.0), (12120, 0.9292940047327363), (12211, 0.8600261451922278), (12325, 0.9616783115081544), (12916, 0.5860090386731196), (12921, 0.6611073566849309), (13053, 0.9607689228305227), (13142, 0.6016568375961863), (13260, 0.7844645405527362), (13366, 0.8951435925492911), (13768, 0.8770580193070289), (13888, 0.2508726030021272), (13923, 0.3516054232038718), (13934, 0.17200522903844556), (14529, 0.7417901772340937), (14551, 0.537086155529574), (14588, 0.21926450482675766), (14984, 0.716114874039432), (15137, 0.5860090386731196), (15157, 0.9035841064985974), (15466, 0.7205766921228921), (15670, 0.516015687115336), (15834, 0.22562131409856986), (16292, 0.6577935144802716), (16456, 0.7161148740394331), (16506, 0.5481612620668942), (17246, 0.48038446141526137), (17438, 0.7093169886164387), (17501, 0.8168748513121271), (17502, 0.8272781516947562), (17666, 0.7689238340176859), (17735, 0.7042381820123422), (17742, 0.3922322702763681), (17757, 0.64657575013984), (17854, 0.537086155529574), (17897, 0.8770580193070289), (17944, 0.2713848825944774), (18301, 0.29838119751643016), (18509, 0.1322214713369862)])

In [21]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0         0.827278      75
1         0.586009     106
2         0.832050     686
3         0.576557     815
4         0.943456    1040

In [22]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

    similarityIndex  userId
64         0.961678   12325
34         0.961538    6207
55         0.961538   10707
67         0.960769   13053
4          0.943456    1040

In [23]:
topUsersRating=topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
topUsersRating.head()

   similarityIndex  userId  movieId  rating   timestamp
0         0.961678   12325        1     3.5  1161524167
1         0.961678   12325        2     1.5  1161526718
2         0.961678   12325        3     3.0  1161526888
3         0.961678   12325        5     0.5  1161527105
4         0.961678   12325        6     2.5  1161524574

In [24]:
#Multiplies the similarity by the user's ratings
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating   timestamp  weightedRating
0         0.961678   12325        1     3.5  1161524167        3.365874
1         0.961678   12325        2     1.5  1161526718        1.442517
2         0.961678   12325        3     3.0  1161526888        2.885035
3         0.961678   12325        5     0.5  1161527105        0.480839
4         0.961678   12325        6     2.5  1161524574        2.404196

In [25]:
#Applies a sum to the topUsers after grouping it up by userId
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  38.376281          140.800834
2                  38.376281           96.656745
3                  10.253981           27.254477
4                   0.929294            2.787882
5                  11.723262           27.151751

In [26]:
#Creates an empty dataframe
recommendation_df = pd.DataFrame()
#Now we take the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

         weighted average recommendation score  movieId
movieId
1                                     3.668955        1
2                                     2.518658        2
3                                     2.657941        3
4                                     3.000000        4
5                                     2.316058        5

In [28]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(100)

         weighted average recommendation score  movieId
movieId
5073                                       5.0     5073
2284                                       5.0     2284
3329                                       5.0     3329
28                                         5.0       28
945                                        5.0      945
...                                        ...      ...
2041                                       5.0     2041
1902                                       5.0     1902
5244                                       5.0     5244
106762                                     5.0   106762
5121                                       5.0     5121

[100 rows x 2 columns]

In [29]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

       movieId                                              title  year
27          28                                         Persuasion  1995
928        945                                            Top Hat  1935
969        987                                              Bliss  1997
1005      1024                              Three Caballeros, The  1945
2200      2284                                       Bandit Queen  1994
2763      2848  Othello (Tragedy of Othello: The Moor of Venic...  1952
3243      3329                           Year My Voice Broke, The  1987
4978      5073            Son's Room, The (Stanza del figlio, La)  2001
9987     32792                     Red Desert (Deserto rosso, Il)  1964
12111    55067                                            Requiem  2006